[Unit]
Description=Blink my LED
After=multi-user.target

[Service]
#ExecStart=/usr/bin/python3 /home/pi/blink.py
ExecStart=/home/pi/workspace/python/RaspberryPI-DASHCam/run.sh

[Install]
WantedBy=multi-user.target
